body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

.inner-container {
    margin: auto;
    overflow: hidden;
}

#header-name{
    font-size: 28px;
    font-weight: bold;
    font-family: Snell Roundhand, Brush Script MT, Brush Script Std, cursive;
    margin-top: 0;
    margin-bottom: 0;
}

#header-role{
    margin-top: 0;
    margin-bottom: 0;
}

.topnav{
    /* background-color: navy; */
    background-image:url('../images/navy-background.jpeg');
    background-position: center center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    vertical-align: middle;
    border-bottom: solid #333 5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    margin: 8px 8px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-left {
    float: left;
}

.topnav-right {
    float: right;
    vertical-align: center;
    margin: 0px;
    position: relative;
}

.topnav-right a {
    background-color: #333;
    border-radius: 15%;
}

.topnav-right a:hover {
    background-color: #f2f2f2;
    color: #333;
}

.topnav-right-menu{
    display: flex;
    list-style: none;
}

.dropdown-menu{
    list-style: none;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.dropdown-menu a {
    float: right;
}

.dropdown-menu.active{
    height: 300px;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: #333;
    border-radius: 15%;
    margin: 20px;
    margin-right: 0;
}

.hamburger:hover{
    background-color: #f2f2f2;
    color: #333;
}

.hamburger:hover span.bar {
    background-color: #333;
}

span.bar {
    width: 25px;
    height: 3px;
    background-color: #f2f2f2;
    display: block;
    margin: 5px auto;
}

.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(5.8px, 5.8px);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(5.8px, -5.8px);
}

@supports (transition: all 0.3s ease-in-out){
    span.bar{
        transition-property: transform, opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .dropdown-menu{
        transition: height 0.3s ease-in-out;
    }
}

@media screen and (max-width: 1100px){
    .topnav-right-menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

#space-filler{
    flex-grow: 1;
}

#footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin-top: 40px;
    margin-bottom: auto;
}

a.no-right-margin {
    margin-right: 0;
}

a.no-left-margin-padding {
    margin-left: 0;
    padding-left: 0;
}