#homepage{
    background-image:url('../images/binary-code-background.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* min-height: 300px; */
    margin-bottom: 30px;
    text-align: center;
    font-size: max(3vw, 30px);
    line-height: 30px;
    font-weight: bold;
}

#main-name{
    font-size: max(11vw, 105px);
    line-height: 105px;
    font-weight: bold;
    text-align: center;
    font-family: Snell Roundhand, cursive, ;
    margin-bottom: 5vw;
}