html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

img {
	float: right;
	height: auto;
	padding-left: 20px;
	padding-right: 5px;
}

#aws-logo {
	width: 15%;
	min-width: 120px;
}

#chrome-extension {
	width: 40%;
	min-width: 180px;
}

#hive-board-game {
	width: 40%;
	min-width: 240px;
}

#fractal {
	width: 30%;
	min-width: 240px;
}

#selenium-logo {
	width: 20%; 
	min-width: 160px;
}