img.resume{
    width: 98%;
    max-width: 980px;
    /* min-width: 350px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;

    background-color: #777;
    padding: min(1%, 10px);
}

.inner-container {
    overflow: scroll;
}