RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L] n

# <Files "gratitude-journal.html">
# AuthType Basic
# AuthName "Restricted Content"
# AuthUserFile "/etc/apache2/.htpasswd"
# Require valid-user
# </Files>
